*.pyc
/node_modules/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
migrations
migrations/
**/migrations/
**/migrations/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__
__pycache__/
**/__pycache__/**
!**/__pycache__
*.pyc
.pyc 




