{% extends 'admin/base.html' %}
{% load i18n static jet_tags %}
{% block blockbots %}
    {{ block.super }}
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' as url %}{{ url|jet_append_version }}" type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery.init.js' as url %}{{ url|jet_append_version }}"></script>
    <script type="text/javascript" src="{% url 'jet:jsi18n' %}"></script>
    <!-- <script src="{% static "jet/js/build/bundle.min.js" as url %}{{ url|jet_append_version }}"></script> -->
{% endblock %}

